.modifiedMenuText {

}

.myBody {
  background-image: url(imgs/ep_naturalblack.png);
}

.myNavBg {
  background: linear-gradient(0.25turn, rgba(8, 42, 94, 1) , rgba(37, 113, 212, .3), rgba(8, 42, 94, 1));
}

.brandText {
  font-family: 'Lemonada', cursive;
  font-weight: 700;
  font-size: 1.3rem;
  color: rgb(255, 153, 0);
}

.hrUnderHeading {
  border: 0;
  height: 4px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 153, 0, 0.95), rgba(0, 0, 0, 0));
  margin-top: 0;
  margin-bottom: 5;
}

.style-one {
  border: 0;
  height: 2px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-top: 0;
  margin-bottom: 2;
}

.fluBg-light {
  background-image: linear-gradient(to right, rgba(8, 42, 94, 0.45), rgba(0, 0, 0, 0.3), rgba(8, 42, 94, 0.45));
}

.pageHeading {
  font-family: 'Kufam', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px black;
  margin-top: 0.8rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0;
}

.heading {
  font-family: 'Bitter', serif;
  font-weight: 900;
  font-size: 1.9rem;
  color: rgb(255, 153, 0);
  text-shadow: 1px 1px 2px black;
  margin-bottom: 0;
  padding-bottom: 0;
}

.teamName {
  font-family: 'Russo One', sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  color: rgb(154, 224, 203);
  text-shadow: 1px 1px 2px black;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 0;
}

.explanation {
  font-family: 'Bree Serif', serif;
  font-weight: 400;
  font-size: 0.93rem;
  color: rgb(154, 224, 203);
  text-shadow: 1px 1px 2px black;
  font-style: italic;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
}

.deep {
  text-shadow: 0.5px 0.5px 1px gray;
}

.portraitWrapper {
  height: 106px;
  width: 73px;
  overflow: hidden;
  margin: 0 0;
}

.resizable {
  max-width: 100%;
  height: auto;
}

.legendary {

}

.notPlayable {
  
}

.toonLogoDiv {
  max-width: 74px;
}
.hugeToonLogoDiv {
  width: 370px;
}

.roster {
  background-image: url(imgs/roster.png);
}
.blank-hero {
  filter: brightness(0);
}
.darkened {
  filter: brightness(0.5);
}
.lightened {
  filter: brightness(2);
}

.punchUpText {
  font-family: 'Kufam', cursive;
  font-weight: 700;
  font-size: min(2.2vw, 12px);
  /*line-height: 1.4rem;*/
  color: rgb(15, 230, 7);
  margin: 0;
}

.punchAcrossText {
  font-family: 'Kufam', cursive;
  font-weight: 700;
  font-size: min(2.2vw, 12px);
  color: rgb(255, 153, 0);
  margin: 0;
}

.punchDownText {
  font-family: 'Kufam', cursive;
  font-weight: 700;
  font-size: min(2.2vw, 12px);
  color: rgb(255, 0, 0);
  margin: 0;
}

.punchUp {
  font-family: 'Lemonada', cursive;
  font-weight: 700;
  font-size: min(5.5vw, 42px);
  color: rgb(15, 230, 7);
}

.punchAcross {
  font-family: 'Lemonada', cursive;
  font-weight: 700;
  font-size: min(5.5vw, 42px);
  color: rgb(255, 153, 0);
  /* rotate: */
  transform: rotate(90deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(90deg);
  /* Firefox */
  -moz-transform: rotate(90deg);
  /* IE */
  -ms-transform: rotate(90deg);
  /* Opera */
  -o-transform: rotate(90deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.punchDown {
  font-family: 'Lemonada', cursive;
  font-weight: 700;
  font-size: min(5.5vw, 42px);
  color: rgb(255, 0, 0);
  /* rotate: */
  transform: rotate(180deg);
  /* Legacy vendor prefixes that you probably don't need... */
  /* Safari */
  -webkit-transform: rotate(180deg);
  /* Firefox */
  -moz-transform: rotate(180deg);
  /* IE */
  -ms-transform: rotate(180deg);
  /* Opera */
  -o-transform: rotate(180deg);
  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}