.rosterAimAssaulter {
  background-position: 0 1.41844%;
  background-size: 100%;
}
.rosterAimInfector {
  background-position: 0 0;
  background-size: 100%;
}
.rosterAimMonstrosity {
  background-position: 0 .70922%;
  background-size: 100%;
}
.rosterAimResearcher {
  background-position: 0 2.12766%;
  background-size: 100%;
}
.rosterAimSecurity {
  background-position: 0 2.836879%;
  background-size: 100%;
}
.rosterAgentCoulson {
  background-position: 0 13.475177%;
  background-size: 100%;
}
.rosterAmericaChavez {
  background-position: 0 3.546099%;
  background-size: 100%;
}
.rosterAntMan {
  background-position: 0 4.255319%;
  background-size: 100%;
}
.rosterBeast {
  background-position: 0 5.673759%;
  background-size: 100%;
}
/*BLACK BOLT*/
.rosterBlackPanther {
  background-position: 0 7.092199%;
  background-size: 100%;
}
.rosterBlackWidow {
  background-position: 0 7.801418%;
  background-size: 100%;
}
/*BLOB*/
/*BULLSEYE*/
.rosterCable {
  background-position: 0 9.929078%;
  background-size: 100%;
}
.rosterCaptainAmerica {
  background-position: 0 10.638298%;
  background-size: 100%;
}
.rosterCaptainMarvel {
  background-position: 0 11.347518%;
  background-size: 100%;
}
.rosterCarnage {
  background-position: 0 12.056738%;
  background-size: 100%;
}

.rosterDrax {
  background-position: 0px 19.148936%;
  background-size: 100%;
}
.rosterHulk {
  background-position: 0px 31.205674%;
  background-size: 100%;
}
.rosterSymbioteSpiderMan {
  background-position: 0px 82.978723%;
  background-size: 100%;
}

/* ASGARDIANS */
.rosterThor {
  background-position: 0 85.106383%;
  background-size: 100%;
}
.rosterSif {
  background-position: 0 79.432624%;
  background-size: 100%;
}
.rosterLoki {
  background-position: 0 46.808511%;
  background-size: 100%;
}
.rosterHela {
  background-position: 0 30.496454%;
  background-size: 100%;
}
.rosterHeimdall {
  background-position: 0 29.787234%;
  background-size: 100%;
}

/* F4 */
.rosterInvisibleWoman {
  background-position: 0 36.170213%;
  background-size: 100%;
}
.rosterHumanTorch {
  background-position: 0 31.914894%;
  background-size: 100%;
}
.rosterMrFantastic {
  background-position: 0 54.609929%;
  background-size: 100%;
}
.rosterTheThing {
  background-position: 0 84.397163%;
  background-size: 100%;
}
.rosterNamor {
  background-position: 0 58.156028%;
  background-size: 100%;
}

/* Marauders */
.rosterStryfe {
  background-position: 0 82.269504%;
  background-size: 100%;
}
.rosterMrSinister {
  background-position: 0 55.319149%;
  background-size: 100%;
}
.rosterEmmaFrost {
  background-image: url(imgs/Portrait_EmmaFrost.png);
  background-size: 100%;
}
.rosterSabretooth {
  background-position: 0 71.631206%;
  background-size: 100%;
}
.rosterMystique {
  background-position: 0 57.446809%;
  background-size: 100%;
}

/* TRONFENDERS */
.rosterUltron {
  background-position: 0 88.652482%;
  background-size: 100%;
}
.rosterIronFist {
  background-position: 0 36.879433%;
  background-size: 100%;
}
.rosterJessicaJones {
  background-position: 0 39.007092%;
  background-size: 100%;
}
.rosterDaredevil {
  background-position: 0 16.312057%;
  background-size: 100%;
}
.rosterPunisher {
  background-position: 0 63.829787%;
  background-size: 100%;
}

/* HYDRA */
.rosterRedSkull {
  background-position: 0 68.085106%;
  background-size: 100%;
}
.rosterHydraScientist {
  background-position: 0 34.751773%;
  background-size: 100%;
}
.rosterHydraRifleTrooper {
  background-position: 0 33.333333%;
  background-size: 100%;
}
.rosterHydraSniper {
  background-position: 0 34.042553%;
  background-size: 100%;
}
.rosterHydraArmoredGuard {
  background-position: 0 35.460993%;
  background-size: 100%;
}

/* INHUMANS */
.rosterBlackBolt {
  background-position: 0 6.382979%;
  background-size: 100%;
}
.rosterCrystal {
  background-position: 0 14.893617%;
  background-size: 100%;
}
.rosterKarnak {
  background-position: 0 40.425532%;
  background-size: 100%;
}
.rosterYoYo {
  background-position: 0 99.29078%;
  background-size: 100%;
}
.rosterQuake {
  background-position: 0 65.248227%;
  background-size: 100%;
}

/* TECHNERVA */
.rosterStarLord {
  background-position: 0 80.851064%;
  background-size: 100%;
}
.rosterVision {
  background-position: 0 95.035461%;
  background-size: 100%;
}
.rosterRocketRackoon {
  background-position: 0 70.212766%;
  background-size: 100%;
}
.rosterGroot {
  background-position: 0 24.822695%;
  background-size: 100%;
}
.rosterMinnErva {
  background-position: 0 53.900709%;
  background-size: 100%;
}

/* MERCS */
.rosterTaskmaster {
  background-image: url(imgs/Portrait_Taskmaster.png);
  background-size: 100%;
}
.rosterMercLt {
  background-position: 0 51.77305%;
  background-size: 100%;
}
.rosterMercRiotGuard {
  background-position: 0 52.48227%;
  background-size: 100%;
}
.rosterBullseye {
  background-position: 0 9.219858%;
  background-size: 100%;
}

/* BROTHERHOOD2 */
.rosterToad {
  background-position: 0 85.815603%;
  background-size: 100%;
}
.rosterMagneto {
  background-position: 0 48.93617%;
  background-size: 100%;
}
.rosterPyro {
  background-position: 0 64.539007%;
  background-size: 100%;
}
.rosterBlob {
  background-position: 0 8.510638%;
  background-size: 100%;
}
.rosterJuggernaut {
  background-position: 0 39.716312%;
  background-size: 100%;
}

/* POWER ARMOR 2 */
.rosterRescue {
  background-position: 0 68.794326%;
  background-size: 100%;
}
.rosterIronheart {
  background-position: 0 38.297872%;
  background-size: 100%;
}
.rosterIronMan {
  background-position: 0 37.588652%;
  background-size: 100%;
}
.rosterWarMachine {
  background-position: 0 96.453901%;
  background-size: 100%;
}
.rosterFalcon {
  background-position: 0 21.276596%;
  background-size: 100%;
}

/* SHIELD COULSON */
.rosterShieldAssault {
  background-position: 0 73.758865%;
  background-size: 100%;
}
.rosterShieldMedic {
  background-position: 0 75.886525%;
  background-size: 100%;
}
.rosterNickFury {
  background-position: 0 59.574468%;
  background-size: 100%;
}
.rosterAgentCoulson {
  background-position: 0 13.475177%;
  background-size: 100%;
}
.rosterShieldSecurity {
  background-position: 0 77.304965%;
  background-size: 100%;
}

/* XMEN */
.rosterPhoenix {
  background-position: 0 62.411348%;
  background-size: 100%;
}
.rosterWolverine {
  background-position: 0 98.58156%;
  background-size: 100%;
}
.rosterCyclops {
  background-position: 0 15.602837%;
  background-size: 100%;
}
.rosterPsylocke {
  background-position: 0 63.120567%;
  background-size: 100%;
}
.rosterColossus {
  background-position: 0 12.765957%;
  background-size: 100%;
}